@import "_library.scss";
@import "_localLibrary.scss";

.portfolio-section {
  height: 90vh;
  border: 1px black solid;
}

#projectsSection {
  @include Flex-Row(center, center, initial, 90vh);
}

#techStackSection {
  .matrix-container {
    @include Flex-Row(center, center, 90vw, 70vh);
    margin: 5vh auto;
  
    #horizontalMatrix {
      @include Matrix(30vw, 22vw);
    }
  
    .multiplication-wrap {
      @include Flex-Row(center, center, 10vw, 10vw);
      position: relative;
      .multiplication-cross {
        @include WidthHeight(0.8vw, 6vw);
        background-color: $cBlue;
        position: absolute;
      }
      .cross1 {
        transform: rotate(45deg);
      }
      .cross2 {
        transform: rotate(-45deg);
      }
    }
    
    #verticalMatrix {
      @include Matrix(22vw, 30vw);
    }
  
    .equals-wrap {
      @include Flex-Row(center, center, 10vw, 10vw);
      position: relative;
      .equals-bar {
        @include WidthHeight(6vw, 0.8vw);
        background-color: $cBlue;
        position: absolute;
      }
      .bar1 {
        top: 35%;
      }
      .bar2 {
        bottom: 35%;
      }
    }
  }
}

#contactForm {
  @include Flex-Col(center, center, initial, initial);
  input, textarea {
    color: $cBlack;
  }
  #scrollTest {
    @include Flex-Row(center, center, initial, initial);
    color: $cWhite;
  }
}

.test {
  @include WidthHeight(0.15 * 52vw * 0.5, 0.15 * 52vw * 0.5);
  position: absolute;
  opacity: 100% !important;
  pointer-events: none;
  top: -75%;
  left: 100%;
}
.test-transitions {
  z-index: $zModal;
  #h00_0 { top: 34%; left: 0%; transition: top 1s, left 1s}
  #v00_0 { top: 34%; left: 17%; transition: top 1s, left 1s}
  #h01_0 { top: 34%; left: 37%; transition: top 1s, left 1s}
  #v01_0 { top: 34%; left: 54%; transition: top 1s, left 1s}
  #h02_0 { top: 34%; left: 74%; transition: top 1s, left 1s}
  #v02_0 { top: 34%; left: 90%; transition: top 1s, left 1s}

  #h10_0 { top: 34%; left: 0%; transition: top 1s, left 1s}
  #v00_1 { top: 34%; left: 17%; transition: top 1s, left 1s}
  #h11_0 { top: 34%; left: 37%; transition: top 1s, left 1s}
  #v01_1 { top: 34%; left: 54%; transition: top 1s, left 1s}
  #h12_0 { top: 34%; left: 74%; transition: top 1s, left 1s}
  #v02_1 { top: 34%; left: 90%; transition: top 1s, left 1s}

  #h00_1 { top: 34%; left: 0%; transition: top 1s, left 1s}
  #v10_0 { top: 34%; left: 17%; transition: top 1s, left 1s}
  #h01_1 { top: 34%; left: 37%; transition: top 1s, left 1s}
  #v11_0 { top: 34%; left: 54%; transition: top 1s, left 1s}
  #h02_1 { top: 34%; left: 74%; transition: top 1s, left 1s}
  #v12_0 { top: 34%; left: 90%; transition: top 1s, left 1s}

  #h10_1 { top: 34%; left: 0%; transition: top 1s, left 1s}
  #v10_1 { top: 34%; left: 17%; transition: top 1s, left 1s}
  #h11_1 { top: 34%; left: 37%; transition: top 1s, left 1s}
  #v11_1 { top: 34%; left: 54%; transition: top 1s, left 1s}
  #h12_1 { top: 34%; left: 74%; transition: top 1s, left 1s}
  #v12_1 { top: 34%; left: 90%; transition: top 1s, left 1s}
}

.tech-icon-modal {
  @include Modal(90vw, 80vh, $cBlack);
  background-color: $cWhite;
  position: relative;
  #squareMatrix {
    @include Matrix(85vw, 28vw);
    .expression {
      @include Flex-Row(center, center, 40vw, 12vw);
      position: relative;
    }
    .plus-sign {
      width: 10%;
      position: relative;
      .verti-plus {
        @include WidthHeight(0.5vw, 2vw);
        background-color: $cBlue;
        border-radius: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .hori-plus {
        @include WidthHeight(2vw, 0.5vw);
        background-color: $cBlue;
        border-radius: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .dot-sign {
      @include Flex-Row(center, center, 30%, initial);
      .dot {
        @include WidthHeight(1vw, 1vw);
        background-color: $cBlue;
        border-radius: 50%;
      }
    }
  }
}
