@import "_library.scss";

$cBlue: #100a66;
$cGold: #a67c00;
$cBrown: #471900;
$cWhite: #F5F5DC;
$cBlack: #1B1212;

* {
  font-family: "Cherry Cream Soda", serif;
  color: $cBlack;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $cWhite;
}

h1 {
  margin: 20vh auto 0vh auto;
  text-align: center;
}

.btn {
  cursor: pointer;
  transition: filter 0.25s;
  padding: 0.4rem 1rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  background: $cHighlightSoft;
  color: $cWhite;
  text-decoration: none;
}
.btn:hover {
  filter: brightness(115%);
}
.btn:active {
  transform: scale(0.94);
  transform: translateY(5%);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.hide {
  width: 1px !important;
  height: 1px !important;
  opacity: 0% !important;
  pointer-events: none !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}
.modal-hide {
    opacity: 0% !important;
    pointer-events: none !important;
  }

.screen-tint {
  width: 100vw;
  height: 100vh;
  display: initial;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: $zScreenTint;
  transition: opacity 0.4s, background-color 0.4s;
}
.unclickable {
  pointer-events: none;
  filter: blur(0.2rem);
}
.close-btn {
  @include WidthHeight(2vw, 2vw);
  margin: 0;
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;

  .close-btn-wrap {
    @include Flex-Row(center, center, 2vw, 2vw);
    border-radius: 2vw;
    position: relative;
    background-color: $cBlue;
    div {
      @include WidthHeight(0.2vw, 1.5vw);
      position: absolute;
      background-color: $cWhite;
    }
    div:first-of-type {
      transform: rotate(45deg);
    }
    div:nth-of-type(2) {
      transform: rotate(-45deg);
    }
  }
}

::-webkit-scrollbar {
    width: 0.7rem;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5rem $cWhite;
    border-radius: 0.5rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $cBlue;
    border-radius: 0.5rem;
  }
